<div class="product-list-container">
  <h1 class="produtos-titulo">PRODUTOS</h1>

  <div class="search-bar">
    <input
      type="text"
      placeholder="Pesquisar produto..."
      [formControl]="searchControl"
      (keyup.enter)="buscarProdutos()"
    />
  </div>

  <div class="filters-bar">
    <select [(ngModel)]="categoriaSelecionadaId" (ngModelChange)="onSelectCategoriaPai($event)">
      <option [ngValue]="null">Todas as categorias</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
    </select>

    <select *ngIf="subcategorias.length" [(ngModel)]="subcategoriaSelecionadaId">
      <option [ngValue]="null">Ver tudo em {{ nomeCategoriaPai }}</option>
      <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{ subcategoria.nome }}</option>
    </select>

    <input type="number" placeholder="Preço mínimo" [(ngModel)]="filtros.precoMin" />
    <input type="number" placeholder="Preço máximo" [(ngModel)]="filtros.precoMax" />
    <input type="number" placeholder="Estoque mínimo" [(ngModel)]="filtros.estoqueMin" />
    <input type="number" placeholder="Estoque máximo" [(ngModel)]="filtros.estoqueMax" />

    <button class="btn search-btn" (click)="buscarProdutos()">Filtrar</button>
  </div>

  <table class="product-table">
    <thead>
    <tr>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produto of produtos">
      <td>
        <img [src]="'http://localhost:8080' + produto.imagemUrl" alt="{{ produto.nome }}" class="product-img" />
      </td>
      <td>{{ produto.nome }}</td>
        <td>{{ produto.categoriaPath }}</td>
      <td>R$ {{ produto.preco | number:'1.2-2' }}</td>
      <td>
        <button class="btn edit-btn">Editar</button>
        <button class="btn delete-btn" (click)="abrirModal(produto)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button class="btn" [disabled]="pagina === 0" (click)="irParaPagina(pagina - 1)">Anterior</button>
    <span>Página {{ pagina + 1 }} de {{ totalPaginas }}</span>
    <button class="btn" [disabled]="pagina + 1 >= totalPaginas" (click)="irParaPagina(pagina + 1)">Próxima</button>
  </div>

</div>

<div class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <span class="modal-fechar" (click)="fecharModal()">&times;</span>
    <h2>ELIMINAR PRODUTO</h2>

    <div class="modal-produto">
      <img [src]="'http://localhost:8080' + produtoSelecionado?.imagemUrl" alt="{{ produtoSelecionado?.nome }}" />
      <h3>{{ produtoSelecionado?.nome }}</h3>
    </div>

    <p>Você está prestes a eliminar este produto.<br>
      Não será possível reverter a ação. Tem certeza?</p>

    <div class="modal-botoes">
      <button class="btn-voltar" (click)="fecharModal()">VOLTAR</button>
      <button class="btn-confirmar" (click)="confirmaExclusao()">SIM, ELIMINE</button>
    </div>
  </div>
</div>
