<div class="account-container">
  <div class="account-menu">
    <h2>MINHA CONTA</h2>
    <ul>
      <li>
        <a routerLink="profile">Seu perfil</a>
      </li>
      <li>
        <a routerLink="update-password">Altere a senha</a>
      </li>
      <li>
        <a routerLink="address-book">Lista de endereços</a>
      </li>
      <li>
        <a routerLink="payment-details">Dados de pagamento</a>
      </li>
      <li>
        <a routerLink="orders">Histórico de pedidos</a>
      </li>
      <li
        (click)="logout()"
      >
        <strong>Sair da sessão</strong>
      </li>
    </ul>
  </div>
  <div class="account-content">
    <router-outlet></router-outlet>
  </div>
</div>
