<header class="menu-container">
  <div class="esquerda">
    <div class="logo">
      <a routerLink="/home"> Ecommerce </a>
    </div>

    <nav class="nav">
      <a *ngFor="let categoria of categorias" (click)="abrirMenu(categoria)">
        {{ categoria.nome }}
      </a>
    </nav>
  </div>

  <div class="user">
    <a class="fa-solid fa-magnifying-glass"></a>
    <a class="fa-solid fa-heart"></a>
    <a (click)="navegarUsuario()" class="fa-solid fa-user"></a>
    <a class="fa-solid fa-cart-shopping"></a>

    <div class="admin-menu" *ngIf="hasRoleAdmin()">
      <input type="checkbox" id="hamburguer-toggle" />
      <label for="hamburguer-toggle" class="hamburguer-icon">
        <i class="fa-solid fa-bars"></i>
      </label>

      <div class="admin-dropdown">
        <a routerLink="/admin/products-manager">Produtos</a>
      </div>
    </div>

  </div>
</header>

<app-sidebar-categorias
  *ngIf="menuAberto"
  [categoriaSelecionada]="categoriaSelecionada"
  (fechar)="fecharMenu()"
/>
