<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Ecommerce</h3>
      <p>Sua loja online de confiança. Qualidade e preço justo.</p>
    </div>

    <div class="footer-section">
      <h4>Links úteis</h4>
      <ul>
        <li><a>Home</a></li>
        <li><a>Sobre</a></li>
        <li><a>Contato</a></li>
        <li><a>FAQ</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Siga-nos</h4>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright &copy;2025 Ecommerce. Todos os direitos reservados.</p>
  </div>
</footer>
