<div class="login-page">
  <div class="login-container">
    <div class="login-title">
      <h1> Acesse sua conta </h1>
    </div>
    <form #loginForm="ngForm" class="login-form" (submit)="onSubmit()">
      <div class="login-form-group">
        <label>E-mail</label>
        <input
          type="email"
          placeholder="Digite seu e-mail"
          name="email"
          [(ngModel)]="loginData.email"
          required
          class="login-form-control"
        />
      </div>

      <div class="login-form-group">
        <label>Senha</label>
        <div class="login-password-input">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Digite sua senha"
            name="senha"
            [(ngModel)]="loginData.senha"
            required
            class="login-form-control"
          />
          <button type="button" class="login-toggle-password" (click)="togglePassword()">
            <span *ngIf="showPassword" class="fa-solid fa-eye"></span>
            <span *ngIf="!showPassword" class="fa-solid fa-eye-slash"></span>
          </button>
        </div>
      </div>

      <div class="login-form-button-group">
        <button type="submit"> Entrar </button>
      </div>
    </form>

    <div class="login-footer">
      <p> Não tem uma conta? </p>
      <a href="#"> Cadastre-se </a>
    </div>
  </div>
</div>
