<form class="form-container" #form="ngForm" (ngSubmit)="salvarEndereco()">
  <h2 class="form-title">{{ atualizando ? 'ATUALIZAR ENDEREÇO' : 'ADICIONAR UM NOVO ENDEREÇO' }}</h2>

  <div class="form-group">
    <input
      type="text"
      name="nome"
      placeholder="Nome"
      required
      [(ngModel)]="endereco.nomeContato"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'nomeContato'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="sobrenome"
      placeholder="Sobrenome"
      required
      [(ngModel)]="endereco.sobrenomeContato"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'sobrenomeContato'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="telefone"
      placeholder="Número de telefone"
      required
      [(ngModel)]="endereco.telefoneContato"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'telefoneContato'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="cep"
      placeholder="CEP"
      required
      [(ngModel)]="endereco.cep"
      (blur)="obterDadosEnderecoPorCep()"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'cep'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="endereco"
      placeholder="Endereço"
      required
      [(ngModel)]="endereco.endereco"
      [readonly]="camposBloqueados"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'endereco'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="numero"
      placeholder="Número"
      required
      [(ngModel)]="endereco.numero"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'numero'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="complemento"
      placeholder="Complemento (Opcional)"
      required
      [(ngModel)]="endereco.complemento"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'complemento'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="bairro"
      placeholder="Bairro"
      required
      [(ngModel)]="endereco.bairro"
      [readonly]="camposBloqueados"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'bairro'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="estado"
      placeholder="Estado"
      required
      [(ngModel)]="endereco.estado"
      [readonly]="camposBloqueados"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'estado'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="cidade"
      placeholder="Cidade"
      required
      [(ngModel)]="endereco.cidade"
      [readonly]="camposBloqueados"
    />
    <div class="mensagens-validacao" *ngFor="let erro of erros.erros">
      <p *ngIf="erro.campo == 'cidade'">{{ erro.mensagem }}</p>
    </div>
  </div>

  <div class="form-buttons">
    <a routerLink="/my-account/address-book" class="btn cancel">CANCELAR</a>
    <button
      type="submit"
      class="btn save"
      *ngIf="!atualizando"
    >
      SALVAR
    </button>
    <button
      type="button"
      class="btn save"
      *ngIf="atualizando"
      (click)="atualizarEndereco()"
    >
      ATUALIZAR
    </button>
  </div>
</form>

